{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ post.title }}</h1>
        <small>
            Category: <a href="{{ url_for('.show_category',category_id = post.category.id)
                }}">{{ post.category.name }}</a><br>
            Date: {{ moment(post.timestamp).format('LL') }}
        </small>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ post.body|safe }}
            <div class="comments" id="comments">
                <h3>{{ comments|length }}
                    <small>
                        <a href="{{ url_for('.show_post', post_id=post.id, page=pagination.pages or 1)
                                }}#comments">latest</a>
                    </small>
                </h3>
                {% if request.args.get('reply') %}
                    <div class="alert alert-dark">
                        Reply to <strong>{{ request.args.get('author') }}</strong>:
                        <a href="{{ url_for('.show_post', post_id=post.id) }}" class="float-right">Cancel</a>
                    </div>
                {% endif %}
                {% if comments %}
                	<ul class="list-group">
                        {% for comment in comments %}
                        	<li class="list-group-item list-group-action flex-column">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
{#                                        <a href="{% if comment.site %}{{ comment.site }}#}
{#                                            {% else %}#{% endif %}"#}
{#                                                taget="_blank">#}
                                        <a href="#" target="_blank">
                                            {{ comment.author }}
                                        </a>
                                        {% if comment.replied %}
                                        	<span class="badge badge-primary">Reply</span>
                                        {% endif %}
                                    </h5>
                                    <small data-toggle="tooltip" data-placement="top" data-delag="500"
                                        data-timestamp="{{ comment.timestamp.strftime('%Y-
                                                %m-%dT%H:%M:%SZ') }}">
                                               {{ moment(comment.timestamp).fromNow()}}
                                    </small>
                                </div>
                                {% if comment.replied %}
                                	<p class="alert alert-dark reply-body">{{ comment.replied.author }}:
                                        <br>{{ comment.replied.body }}
                                    </p>
                                {% endif %}
                                <p class="mb-1">{{ comment.body }}</p>
                                    <div class="float-right">
                                        <a class ="btn btn-light btn-sm" href="{{ url_for('.reply_comment', comment_id=comment.id) }}">Reply</a>
                                    </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div class="tip"><h5>No comments.</h5></div>
                {% endif %}
            </div>
            <div id="comment-form">
                    {{ render_form(form) }}
            </div>
            <br>
            {% if comments %}
            	{{ render_pagination(pagination, fragment='#comments') }}
            {% endif %}
        </div>

        <div class="col-md-4 sidebar">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
{% endblock %}
